@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes slideBackgroundLeft {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes slideBackgroundRight {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}

@keyframes slideOutLeft {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(-50%);
    opacity: 0;
  }
}

@keyframes slideOutRight {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(50%);
    opacity: 0;
  }
}

@keyframes slideInLeft {
  from {
    transform: translateX(50%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInRight {
  from {
    transform: translateX(-50%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes disappearCenter {
  from {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(0.5);
    opacity: 0;
  }
}

@keyframes appearCenter {
  from {
    transform: scale(0.5);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.slide-left {
  animation: slideBackgroundLeft 1s cubic-bezier(0.77, 0, 0.175, 1) forwards;
}

.slide-right {
  animation: slideBackgroundRight 1s cubic-bezier(0.77, 0, 0.175, 1) forwards;
}

.text-slide-out-left {
  animation: slideOutLeft 1s cubic-bezier(0.77, 0, 0.175, 1) forwards;
}

.text-slide-out-right {
  animation: slideOutRight 1s cubic-bezier(0.77, 0, 0.175, 1) forwards;
}

.text-slide-in-left {
  animation: slideInLeft 1s cubic-bezier(0.77, 0, 0.175, 1) 0.5s forwards;
}

.text-slide-in-right {
  animation: slideInRight 1s cubic-bezier(0.77, 0, 0.175, 1) 0.5s forwards;
}

.disappear-center {
  animation: disappearCenter 1s forwards, fadeOut 1s forwards;
}

.appear-center {
  animation: appearCenter 1s forwards, fadeIn 1s forwards;
}
